<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Crud App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding: 50px;
        }

        .menu, .menu td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>

<div class="menu">
    <a onclick="window.location = '/books'; return false" href="bookList.html">Books</a>
<!--    <a th:href="@{/comments}" href="commentList.html">Comments</a>-->
    <a onclick="window.location = '/authors'; return false" href="authorList.html">Authors</a>
<!--    <a th:href="@{/genres}" href="genreList.html">Genres</a>-->
</div>

</body>
</html>